.navbar {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #ffffff;
  padding: 0.7rem 2rem;
  color: black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
position: sticky;
top: 0;
z-index: 100;

}

.app-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  color: goldenrod;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: #d4af37;
  }
}

.nav-right {
  display: flex;
  align-items: center;
  // gap: 1rem; /* spacing between dropdowns */
  margin-left: 50rem;
}

.nav-item {
  position: relative;
  font-weight: 500;
  cursor: pointer;
  margin-top: -2rem; // default for all items

  .nav-title {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: color 0.3s ease;

    &:hover {
      color: goldenrod;
  }
}

// Apply only to the first nav-item
.nav-item:first-child {
  margin-left: 80rem;
}

  .dropdown-content {
    display: none;
    position: absolute;
    top: 120%;
    left: 0;
    background-color: white;
    width: 180px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 6px 6px;
    overflow: hidden;
    z-index: 1000;

    a {
      display: block;
      padding: 0.75rem 1rem;
      color: black;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s;

      &:hover {
        color: goldenrod;
        background-color: #f8f8f8;
      }
    }
  }

  &:hover .dropdown-content {
    display: block;
  }
}
